@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: Outfit, sans-serif;
    color: #F2F5F9;
    background-image: url('../src/imgs/earth.png');
    background-color: #030616;
    background-position: center;
  }

  img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  h2 {
    font-size: 1.25rem;
    font-weight: 600;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 500;
  }

  h5 {
    font-size: 1.25rem;
    font-weight: 400;
  }

  p {
    font-size: 0.875rem;
    font-weight: 300;  
  }

  .gridtemplate {
    grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
  }

  .card {
    min-width: 90px; /* Largeur minimale de la carte */
    max-width: 140px; /* Largeur maximale de la carte */
    flex-grow: 1;
    flex-shrink: 0; 
  }

  @media screen and (min-width: 640px) {
    body {
      background-position: top;
    }
    
  }
}